<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--loader-->
    <link rel="stylesheet" href="style/loader.css">
    <script src="js/loader.js"></script>

    <!--font-->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <link rel="stylesheet" href="style/header.css">
    <link rel="stylesheet" href="style/main.css">
    <link rel="stylesheet" href="style/footer.css">
    <link rel="stylesheet" href="style/menu.css">

    <!--<link rel="stylesheet" href="style/themes.css">
    <script src="js/theme.js"></script>-->
    <script src="js/menu.js"></script>
    <script src="/js/prefixfree.js"></script>
</head>

<body>
    <!--<div id="theme"></div>-->
    <div id="loader">
        <div></div>
        <div></div>
    </div>
    <div id="main_menu"></div>
    <header>
        <a href="/template/index.html">
            <div id="home_button">
                home
            </div>
        </a>
        <div id="menu_button">
            <span>menu</span>
            <div class="burger"></div>
        </div>
    </header>
    <main>
        <div id="white_space"></div>
    </main>
    <footer>
        <span>© Студия дизайна Анастасии Дунаевой 2019</span>
    </footer>
</body>

</html>