:root {
    --color-gray: #393939;
    --color-grey: var(--color-gray);
    --color-lightgray: #aaa;
    --color-lightgrey: var(--color-lightgray);
    --color-blue: #4a90e2;
    --color-pink: #e86e64;
    --color-yellow: #ffbf00;
    --color-white: white;
    --color-black: black;
}

a,
a:link,
a:visited {
    color: black;
    text-decoration: none;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

#fixed_email {
    width: 100%;
    position: fixed;
    color: var(--color-gray);
    z-index: 9999999;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    height: 20px;
}

#fixed_email:after {
    content: "prontp@inbox.ru  +7 916 887-36-44";
}