main {
    /*debug*/
    perspective: 300px;
    transform-style: preserve-3d;
}

#white_space {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

#words_box {
    text-align: center;
    margin-bottom: 120px;
    margin-top: 100px;
}

#words_box>span {
    color: var(--color-lightgray);
    font-size: 2.5vw;
}

#main_name {
    color: var(--color-gray);
    font-weight: 900;
    font-size: 10vw;
    display: flex;
    flex-direction: column;
    user-select: none;
    margin-bottom: 20px;
}

#main_name>span {
    line-height: 0.8;
}

#mouse {
    width: 20px;
    height: 40px;
    border: 2px solid var(--color-gray);
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 10px);
}

@media (max-width: 480px) {
    #mouse {
        bottom: 80px;
    }
}

#mouse::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--color-gray);
    position: relative;
    top: 5px;
    left: calc(50% - 3px);
    animation: 1.5s mouse_scroll infinite linear;
}

@keyframes mouse_scroll {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        transform: translateY(20px);
        opacity: 0.3;
    }
}

#person_section {
    background: white;
    /*height: 100%;*/
    box-sizing: border-box;
    padding: 10vmin 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name_wrapper {
    margin-bottom: 20px;
}

#person_section h2 {
    font-size: 6vmin;
    line-height: 0.1;
    color: var(--color-gray);
    font-weight: 600;
}

#person_img {
    height: 60vmin;
    width: 60vmin;
    background-image: url(/img/me.webp);
    background-position: center center;
    background-size: cover;
    background-clip: content-box;
    padding: 2vmin;
    border: 3px var(--color-gray) dashed;
    flex-shrink: 0;
    box-sizing: border-box;
}

#person_introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6vmin;
}

#person_introduction p {
    font-size: 14px;
}

.decoration {
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, black, transparent);
}

@media (max-width: 750px) {
    #person_section {
        margin-top: 12vh;
        flex-direction: column;
        justify-content: flex-start;
    }
    #person_img {
        height: 50vmin;
        width: 50vmin;
    }
    #person_introduction {
        margin: 0;
    }
    #person_introduction h2 {
        font-size: 7vw;
        margin: 20px 0;
    }
    #person_introduction p {
        font-size: 2.5vmin;
    }
    #p_group2 {
        height: 150vh;
    }
}

#p_background_image {
    background: url(https://www.nastol.com.ua/pic/201805/1920x1080/nastol.com.ua-286779.jpg);
}