:root {
    --color-gray: #393939;
    --color-grey: var(--color-gray);
    --color-lightgray: #aaa;
    --color-lightgrey: var(--color-lightgray);
    --color-blue: #4a90e2;
    --color-pink: #e86e64;
    --color-yellow: #ffbf00;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: transparent;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 101vh;
}

#up {
    width: 7vmin;
    height: 7vmin;
    position: fixed;
    z-index: 100;
    left: 3vmin;
    bottom: 3vmin;
    background-color: var(--color-gray);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5vmin;
    opacity: 0;
    box-shadow: 0 0 2px 1px var(--color-gray);
}

#up::before,
#up::after {
    position: absolute;
    content: "";
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}

#up::before {
    width: 50%;
    height: 50%;
    border-left: 1vmin solid white;
    border-top: 1vmin solid white;
    transform: rotate(45deg);
}

#up::after {
    width: 1.1vmin;
    height: 4vmin;
    bottom: 1.2vmin;
    background-color: white;
}

main {
    flex-grow: 1;
    /*debug*/
    perspective: 300px;
    transform-style: preserve-3d;
}

#white_space {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
}

#words_box {
    text-align: center;
    margin-bottom: 120px;
    margin-top: 100px;
}

#words_box>span {
    color: var(--color-lightgray);
    font-size: 2.5vw;
}

#main_name {
    color: var(--color-gray);
    font-weight: 900;
    font-size: 10vw;
    display: flex;
    flex-direction: column;
    user-select: none;
    margin-bottom: 20px;
}

#main_name>span {
    line-height: 0.8;
}

#mouse {
    width: 20px;
    height: 40px;
    border: 2px solid var(--color-gray);
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 10px);
}

@media (max-width: 480px) {
    #mouse {
        bottom: 80px;
    }
}

#mouse::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: var(--color-gray);
    position: relative;
    top: 5px;
    left: calc(50% - 2.5px);
    animation: 1.5s mouse_scroll infinite linear;
}

@keyframes mouse_scroll {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0.3;
    }
}

#person_section {
    background: white;
    /*height: 100%;*/
    box-sizing: border-box;
    padding: 10vmin 20vmin;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#name_wrapper {
    margin-bottom: 20px;
}

#person_section h2 {
    font-size: 6vmin;
    line-height: 0.1;
    color: var(--color-gray);
    font-weight: 600;
}

#person_img {
    height: 60vmin;
    width: 60vmin;
    background-image: url(/img/me.webp);
    background-position: center center;
    background-size: cover;
    background-clip: content-box;
    padding: 2vmin;
    border: 3px var(--color-gray) dashed;
    flex-shrink: 0;
    box-sizing: border-box;
}

#person_introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 6vmin;
}

#person_introduction p {
    font-size: 14px;
}

.decoration {
    width: 100%;
    height: 3px;
    background: linear-gradient(to right, transparent, black, transparent);
}

@media (max-width: 750px) {
    #person_section {
        margin-top: 12vh;
        flex-direction: column;
        justify-content: flex-start;
    }
    #person_img {
        height: 50vmin;
        width: 50vmin;
    }
    #person_introduction {
        margin: 0;
    }
    #person_introduction h2 {
        font-size: 7vw;
        margin: 20px 0;
    }
    #person_introduction p {
        font-size: 2.5vmin;
    }
    #p_group2 {
        height: 150vh;
    }
}

#p_background_image {
    background: url(https://www.nastol.com.ua/pic/201805/1920x1080/nastol.com.ua-286779.jpg);
}