#main_menu {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: -100vh;
    /*
    на 2 меньше, чем loader;
     на 1 меньше чем header;
    */
    z-index: 9999997;
    transition: 0.5s top, 0.5s padding-top;
    background: black;
    opacity: 0.9;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding-top: 100px;
    box-sizing: border-box;
    font-weight: bold;
}

#main_menu.show {
    top: 0;
}

#main_menu>* {
    flex-grow: 1;
}

#main_menu>div:not(#follow) {
    cursor: pointer;
}

#main_menu a:visited {
    color: inherit;
}

#follow {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#follow>span {
    color: var(--color-yellow);
    font-size: 1.5em;
    line-height: 2;
}

#social {
    display: flex;
    justify-content: space-around;
}

#social a {
    margin: 0 10px;
}

#social img {
    width: 50px;
    height: 50px;
}

@media (max-height: 400px) {
    #follow {
        margin-bottom: 40px;
    }
    #main_menu {
        padding-top: 16vh;
        justify-content: center;
    }
}

#main_menu:not(.add_padding) {
    padding-top: 0;
}