header {
    height: 80px;
    background: white;
    box-shadow: 0 0 0 1px blue inset;
    color: var(--color-gray);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    user-select: none;
}

#home_button {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 30px;
    color: var(--color-gray);
}

#menu_button {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    cursor: pointer;
}

#menu_button>span {
    margin-right: 10px;
}

.burger {
    margin: 5px;
    width: 20px;
    height: 0px;
    /*background: #393939;*/
    box-shadow: 0 0 0 1px var(--color-gray), 0 7px 0 1px var(--color-gray), 0 -7px 0 1px var(--color-gray);
}