:root {
    --color-gray: #393939;
    --color-grey: var(--color-gray);
    --color-lightgray: #aaa;
    --color-lightgrey: var(--color-lightgray);
    --color-blue: #4a90e2;
    --color-pink: #e86e64;
    --color-yellow: #ffbf00;
}

a {
    color: black;
    text-decoration: none;
}

a:visited {
    color: transparent;
}

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
}

#white_space {
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#words_box {
    text-align: center;
    margin-bottom: 120px;
    margin-top: 100px;
}

#words_box>span {
    color: var(--color-lightgray);
    font-size: 2.5vw;
}

#main_name {
    color: var(--color-gray);
    font-weight: 900;
    font-size: 10vw;
    display: flex;
    flex-direction: column;
    user-select: none;
    margin-bottom: 20px;
}

#main_name>span {
    line-height: 0.8;
}

#mouse {
    width: 20px;
    height: 40px;
    border: 2px solid var(--color-gray);
    border-radius: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: 40px;
    left: calc(50% - 10px);
}

#mouse::after {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background: var(--color-gray);
    position: relative;
    top: 5px;
    left: calc(50% - 2.5px);
    animation: 1.5s mouse_scroll infinite linear;
}

@keyframes mouse_scroll {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 25px;
        opacity: 0.3;
    }
}

#main_gallery {
    width: 100%;
    height: 100vw;
    box-shadow: 0 0 0 1px red inset;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "gallery_item1 gallery_item1 gallery_item2 gallery_item3" "gallery_item1 gallery_item1 gallery_item4 gallery_item5" "gallery_item6 gallery_item7 gallery_item10 gallery_item10" "gallery_item8 gallery_item9 gallery_item10 gallery_item10";
}

#gallery_item1 {
    grid-area: gallery_item1;
    background: var(--color-blue);
}

#gallery_item2 {
    grid-area: gallery_item2;
    background: var(--color-gray);
}

#gallery_item3 {
    grid-area: gallery_item3;
    background: var(--color-lightgray);
}

#gallery_item4 {
    grid-area: gallery_item4;
    background: var(--color-pink);
}

#gallery_item5 {
    grid-area: gallery_item5;
    background: var(--color-yellow);
}

#gallery_item6 {
    grid-area: gallery_item6;
    background: var(--color-gray);
}

#gallery_item7 {
    grid-area: gallery_item7;
    background: var(--color-pink);
}

#gallery_item8 {
    grid-area: gallery_item8;
    background: var(--color-yellow);
}

#gallery_item9 {
    grid-area: gallery_item9;
    background: var(--color-lightgrey);
}

#gallery_item10 {
    grid-area: gallery_item10;
    background: var(--color-blue);
}